<%- include("partials/header"); %>
<main>
  <h1>Home</h1>
  <p> <%= homePage %> </p>

  <% posts.forEach((post) => { %>
  <h1> <%= post.title %> </h1>
  <p> <%= post.content.substring(0, 125) + "..." %>
    <a href="/posts/<%= post._id %>">Read More</a>
  </p>
  <% }) %>
</main>
<%- include("partials/footer"); %>